
@{
    Layout = "~/Areas/ProfilAgent/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Profil Agent";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            @RenderSection("profil", required: false)
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
 
</div>
@section scripts{
    <script>
        $('#mod_profil_agent').addClass("active");
    </script>
    @RenderSection("scripts", false);
}