
@{
    Layout = "~/Areas/ProfilAgent/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Profil Agent";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            @RenderSection("profil", required: false)
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
 
</div>
@section scripts{
    <script>
        $('#mod_profil_agent').addClass("active")
    </script>
    @RenderSection("scripts", false)
}