
@{
  Layout = "~/Views/Shared/_AccueilLayout.cshtml";
}
    <div style="margin-top:150px;" class="text-center">
        <h1 class="m-4">GC-GE  </h1>
        <div class="m-4">
            <img width="200" height="200" src="~/Content/Images/hkat_logo.jpeg" />
        </div>
        <p class="text-leader"><strong>G</strong>estion de <strong>C</strong>arrière</p>
        <p class="text-leader2">Module de <strong>G</strong>estion des <strong>E</strong>ffectifs</p>
    </div>

 