
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Postes et emplois";
}
<div class="container-fluid">
    @RenderBody()
</div>
@section scripts{
    <script>
        $('#mod_posteemploi').addClass("text-bold text-underline");
    </script>
    @RenderSection("scripts", false);
}