
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Accueil";
}
<div class="container  p-4">
    @RenderBody()
</div>
@section scripts{
    <script>
        $('#mod_accueil').addClass("active");
    </script>
 
 }