
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Service, postes & emplois";
}
<div class="container body-content pt-2">
    @RenderBody()
</div>
@section scripts{
    <script>
        $('#mod_service_emploi').addClass("active");
    </script>
 @RenderSection("scripts", false);
 }