
@model GRH_4WEB.Models.ChargeSocialViewModel

@{
    Layout = null;
}
 
    <div id="delete_@Model.charge_id" class="dialog" data-role="dialog">
        @using (Html.BeginForm("Delete", "ChargeSociale", FormMethod.Post, new { area = "ProfilAgent" }))
        {  
            <div class="dialog-title text-center">
         Suppression
            </div> 
            <div class="dialog-content">
                @Html.HiddenFor(model => model.charge_id)
                @Html.HiddenFor(model => model.agent_id)
                @Html.AntiForgeryToken()
                <div> Suppression la prise en charge sociale <span class="text-bold"> @Model.nom </span> ?</div>
            </div>
            <div class="dialog-actions text-right">
                <button type="submit" class="button alert">  Supprimer</button>
                <button type="button" class="button js-dialog-close">  Annuler  </button>
            </div>
        }
    </div>
 



