@model DATACCESS.Models.v_emploi
@{
    Layout = null;
}
@if (Model != null)
{ 
    <div class="border border-1 bd-gray bg-yellow shadow-1 p-3">
        <p> 
            <div class="text-bold m-2"> @Model.fonction</div><hr />
            <span class="badge inside fg-orange">En attente de validation</span>
        </p>
        <div class="float-righ text-decoration-none">
            <a href="@Url.Action("Edit","Emploi", new {area="ProfilAgent", agent_id = Model.agent_id })">Editer</a> |
            <a class="text-danger" href=# onclick="Metro.dialog.open('#delete_emploi')">Supprimer</a> 
        </div>
    </div> 
    <div id="delete_emploi" class="dialog" data-role="dialog">
        <div class="modal-dialog">
            @{ Html.RenderPartial("~/Areas/ProfilAgent/Views/Home/_SituationDeletePartial.cshtml"); }
        </div>
    </div>
}
else
{
    <div class="m-2">
        <a href="@Url.Action("Create","Emploi", new {area="ProfilAgent", agent_id = ViewBag.agent_id })" class="button outline primary float-right">Nouveau</a>
    </div>
}
@*<div id="edit_emploi" class="modal fade" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            @{ Html.RenderPartial("CreateEmploi"); }
        </div>
    </div>*@