@{
    Layout = null;
}
<form>
    @Html.AntiForgeryToken()
    <input type="hidden" v-model="item.objet_id" />
    <div class="dialog-title text-center">
        <div> Validation {{ item.objet_name }} </div>
    </div>
    <div class="dialog-content">
        <div>{{ item.agent }} </div>
        <div> {{ item.fonction }} </div>
        <div> {{ item.service }} </div><hr />
        <div class="text-bold">  {{item.details }}</div>
    </div>
    <div class="dialog-actions text-right">
        <button type="button" class="button success  js-dialog-close" v-on:click="validate">  Valider</button>
        <button type="button" class="button js-dialog-close">  Annuler  </button>
    </div>
</form>


