
@{
    Layout = null;
}

<form>
    <div class="dialog-title text-center">
        <div class="card-title">
            <p> Edition poste d'emploi </p>
            <small class="m-3 text-bold">
                {{ departement? departement.designation:'' }}
            </small>
        </div>

    </div>
    <div class="dialog-content">
        @Html.AntiForgeryToken()
        <input type="hidden" v-model="poste.structure_id" />
        <input v-model="poste.id" type="hidden" />
        <div class="m-2 row">
            <label class="col-md-2">Fonction (*) </label>
            <div class="col-md-10">
                <textarea v-model="poste.fonction"></textarea>
            </div>
        </div>
        <div class="m-2 row">
            <label class="col-md-2">Grade de poste (*) </label>
            <div class="col-md-10">
                <select class="form-control bo-select" v-model="poste.grade_fonction">
                    <option v-for="item in grades" v-bind:value="item.id">{{ item.describe }}</option>
                </select>
            </div>
        </div>
        <div class="m-2 row">
            <div class="col-md-6 offset-2">
                <label>
                    <input type="checkbox" v-model="poste.is_politic" /> Est un poste politique
                </label>
            </div>
        </div>

        <h2 class="m-4 border rounded bd-amber bg-light p-4 text-center text-upper">
            {{ poste.fonction }}
        </h2>
    </div>
    <div class="dialog-actions text-right">
        <button v-if="poste.fonction && poste.grade_fonction" type="button" class="button success  js-dialog-close" v-on:click="save">  Enregister</button>
        <button type="button" class="button js-dialog-close">  Annuler  </button>
    </div>
</form>

@*@section scripts{
        <script>
            $(function () {

                $("#fonction_id").change(function () {
                    var element = $(this).find('option:selected');
                    $('#grade_fonction').text(element.attr("grade"))
                    $('#full_emp').text(element.text() + " " + $('#designation').val().toUpperCase())
                });
                $("#fonction_id").change();
            });
            $('#designation').on("keyup", function () {
                $("#fonction_id").change();
            });

        </script>

    }*@

