@{
    Layout = null;
}
 
<div class="h400 overflow-auto">
    <table id="posttable" class="table row-border row-hover compact">
        <thead>
            <tr>
                <th># </th>
                <th>Poste </th>
                <th>Occupant </th>               
                <th>Motif d'occupation </th> 
                <th class="text-center">
                    <a v-if="state == 'vacant'" title="Ajouter un nouveau poste" v-on:click="editPoste()" class="button outline primary m-1s"><i class="mif-user-plus"></i> Nouveau poste</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="searchable" v-for="(item,index) in datas" v-bind:data-content="item.fonction+item.occupant+item.motif_occupation">
                <td> <span class="p-1" v-bind:class="[item.agent_id != null ? 'bd-green bg-green ':'bd-orange bg-orange' ]">{{ index+1 }} </span> </td>
                <td style="max-width:250px;" class="text-bold">
                    {{item.fonction}}
                    <div class="text-small"> <small>{{ item.TypeFonction }} {{ item.grade_fonction ? '| '+ item.grade_fonction :'' }}</small></div>
                </td>
                <td>
                    @*<div class="text-bold"> <small>Poste {{ item.etat_poste }}</small></div>*@
                    {{item.occupant}}
                    @*<div v-if="item.agent_id != null">
                        <small><span class="font-weight-bold">Matricule: </span>{{ item.matricule }} </small><br />
                        <small><span class="font-weight-bold">Grade: </span> {{ item.grade_carriere }} </small>
                    </div>*@
                </td>
                <td>{{ item.motif_occupation }} <span v-if="item.agent_id">({{ item.state_string }})</span> </td>
                <td style="min-width:100px;" class="text-center">
                    <a title="Modifier le poste" class="button outline primary small m-1" href="#" v-on:click="editPoste(item)">
                        <i class="mif-pencil">  </i>
                    </a>
                    <a v-if="item.agent_id == null" title="Supprimer le poste" class="button outline alert small m-1" href="#" v-on:click="deletePosteForm(item)">
                        <i class="mif-bin"></i> 
                    </a>      
                    <a title="Voir le profil de l'agent occupant le poste" href="#" v-if="item.agent_id != null" class="button small success outline" v-on:click="voirProfilAgent(item.agent_id)"><i class="mif-user"></i></a>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<p><span id="postcount"> {{ datas.length }} </span> resultat(s)</p>
