 
@{
    Layout = null;
}
<form class="form-inline m-2 w-100" @*action="@Url.Action("Index","ServiceEmploi")" method="get"*@>
    <div class="form-group col-md-12">
        <input type="text"  data-found="#strcount" data-target="#treeTable" class="form-control col-md-12 searchField" placeholder="Trouver un departement" />
    </div>
    @*<button type="submit" class="btn btn-outline-primary  m-2">Ok</button>*@
</form>

<div class="h500 overflow-auto">
    <table id="treeTable" class="table compact">      
            <tr class="searchable" v-for="(item, index) in depts" v-bind:data-content="item.fullName">
                <td> {{ index +1 }}</td>
                <td>
                    <div class="liste_item bg-lightGra bg-darkCyan-hover fg-white-hover p-2 text-bold" style="cursor:pointer" v-bind:title="'Effectif : '+ item.nbe_poste_occupied+' agent(s)'" v-bind:id="'liste_'+item.id" href="#" v-on:click="changeDepartement(item)">
                    {{ item.fullName }} <span class="small border-2 border-radius-20 bd-white bg-light fg-dark  p-1">{{ item.nbe_poste_occupied }} </span></div>
                   
                </td> 
            </tr>        
    </table>
</div>
<p><span id="strcount">{{ depts.length }}</span>  resultat(s)</p>
